:root{
    --black-color: #000000;
    --white-color: #fff;
    --primary-color: #0c8566;
    --gap: 3rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    html {
        font-size: 62.5%;
    }
    
    body {
        font-family: 'Anek Latin', sans-serif;
        font-size: 1.8rem;
        
    }
    
       h1{
        font-family: 'Lato', sans-serif;
        font-size: 6rem;
        text-transform: uppercase;
        text-align: center;
       }
       h2{
        font-family: 'Lato', sans-serif;
        font-size: 5.5rem;
       }
    
       .main-bg{
        background-size: cover;
        background-position: center center;
        color: var(--primary-color);
       
    }
     .white-bg{
        background: var(--white-color);
        color: var(--primary-color);
       }
    .main-content{
        max-width: 1200px;
        margin: 0 auto;   
        padding: var(--gap);
    }
    .section{
        min-height: 100vh;
    }
    .menu{
        color: var(--primary-color);
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-bottom: 0.1rem solid var(--menu-color);
        z-index: 1;
        background-image: url('..img/ororo.jpg');
    }
    .menu-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        background-image: url('..img/ororo.jpg');
        padding-bottom: 0;
    }
    .menu h1{
        font-size: 2.3rem;
        color: var(--primary-color);
    }
    .menu h1 a{
        color: inherit;
    }
   