.menu-content{
    font-size: 2.3rem;
    text-align: center;
    background-image: url(img/ororo.jpg);
    padding-top: 0;
    padding-bottom: 0 ;
    display: flow-root;
    font-family: 'Lato', sans-serif;
    color: #ad6b14;
}
h1{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
   }
.input-box{
    text-align: center;
    width: 100%;
}

.input-box input{
    position: relative;
    height: 60px;
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 8px;
    color: #333;
    margin: 15px 0 20px;
    outline: none;
    font-size: 24px;
    padding: 0 20 px;
    letter-spacing: 2px;
    box-shadow: -4px -4px 5px rgba(255, 255, 255, 1), inset 4px 4px 5px rgba(0, 0, 0, 0.2), inset  -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 5px rgba(0, 0, 0, 0.1);
}
.input-box input::placeholder{
    letter-spacing: 0;
}

.input-box #btn{
    position: relative;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
}

.input-box #btn:active {
    background: #ad6b14;
}